.logo{
    padding: 0;
    margin: 0%;
    width: 90px;
    height: 90px;
}
.header_area{
    display: flex;
    flex-wrap: nowrap;
    padding: 0%;
    text-align: center;
    width: 100%;
}
.header_area{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    width: 100%;
}
.home_button{
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.btn-light{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 150%;
}
.back_btn{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    width:fit-content;
    height: 88%;
    width: 88%;
}
a{
    text-decoration: none;
}
main h2{
    font-size: 1.5rem;
}
main h3{
    font-size: 1rem;
}
table{
    caption-side: top;
}
caption{
    font-size: x-large;
}
thead{
    text-align: center;
}
tbody{
    text-align: center;
}

@media all and (min-width: 825px) and (max-width: 1199px){
    .logo{
        display: none;
    }
    .home_btn{
        font-size: 15px;
    }
    .back_btn{
        font-size: 15px;
    }

}
@media all and (min-width: 415px) and (max-width: 824px) {
    .logo{
        display: none;
    }
    .home_btn{
        font-size: 10px;
    }
    .back_btn{
        font-size: 10px;
    }
}
@media all and (max-width: 414px) {
    .logo{
        display: none;
    }
    .home_btn{
        font-size: 8px;
    }
    .back_btn{
        font-size: 8px;
    }
}